#bng-map {
  fill: #ccc;
}
.color-scale-rect {
  width: 50;
  height: 10;
}
#school-g {
  fill: rgba(0, 200, 0, 0.2);
}
h1,
h2 {
  text-align: center;
}
#bus-routes {
  width: 70vw;
  margin: auto;
}

h2 {
  font-weight: 500;
}
.current {
  fill: #0ea;
  cursor: pointer;
}
