#bangalore-map {
  fill: #cccccc;
  transform: translate(0, -80);
}
.color-scale-rect {
  width: 50;
  height: 10;
}
h1,
h2 {
  text-align: center;
}
h2 {
  font-weight: 500;
}
svg {
  margin-left: 5vw;
}
.current {
  stroke: black;
  stroke-width: 3;
}
